@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #677790;
}
