.NavbarItems {
  display: flex;
  justify-content: flex-end;
  background: #e1effc;
}

.ant-menu {
  padding: 1rem 0 !important;
  border: none !important;
}

.ant-menu-item {
  margin: 0 0.7rem !important;
  padding: 0.1rem 2rem !important;
  box-shadow: -5px -5px 15px #faffff, 5px 5px 15px #adbfd5;
  background: #dfeffc;
  border: none !important;
  font-size: 1rem;
}

.ant-menu-item:hover,
.ant-menu-item.ant-menu-item-selected,
.ant-menu-item.ant-menu-item-active {
  border: none !important;
  box-shadow: inset 3px 3px 11px #adbfd5;
  font-size: 0.8rem;
}

.ant-menu-item a {
  background: transparent;
  font-weight: 600;
}

.ant-menu-item-selected > a,
.ant-menu-item-active a,
a:hover {
  color: #677790 !important;
}
